# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\LAP_TRINH\3. BACK END\test070322\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
